<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pillow Notes</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="sidebar">
      <input placeholder="new doc name"
        v-on="keyup: newDoc | key 'enter'" />
      <ul>
        <li v-repeat="ids" v-class="active: $value == doc._id">
          <a class="doc-name" href="{{$value}}"
             v-on="click: loadDoc">
            {{$value}}</a>
          <div v-if="$value == doc._id" style="text-align: right">
            <small>
              <a class="delete" href="{{$value}}" v-on="click: deleteDoc" title="delete this note">x</a>
            </small>
          </div>
        </li>
      </ul>
    </div>
    <div id="editor">
      <textarea v-model="doc.markdown" debounce="300" v-on="change: saveDoc"></textarea>
      <div v-html="doc.markdown | marked"></div>
    </div>

    <!-- app -->
    <script src="bundle.js"></script>
  </body>
</html>
